* {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-weight: bold;
    font-family: Cursive;
}

h1 {
    padding-top: 20px;
    font-size: 40px;
    text-align: center;
    text-decoration: underline;
}

.score-container {
    padding-top: 100px;
    display: flex;
    justify-content: space-around;
}

.my-score,
.op-score,
.result {
    font-size: 33px;
}

.container {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    padding: 90px;
}

#btnR,
#btnP,
#btnS {
    border-radius: 7%;
    background-color:#044F88;
    padding: 11px;
    border-color: #044F88;
}
  
#btnR:hover,
#btnP:hover,
#btnS:hover {
    background-color:#5E97D0;
}

.rock-img,
.paper-img,
.scissors-img {
    width: 100%;
    height: 250px;
    aspect-ratio: 1.3;
    object-fit: contain;
    background-color: white;
    border-radius: 7%;
}

.end-prompt {
    font-size: 40px;
    text-align: center;
    padding-bottom: 5px;
}

.end-btn {
    text-align: center;
}